# 1、Python连接MySQL

参考：http://mp.weixin.qq.com/s/7DjlE6rBxH2AGiWQeoLXow

In [2]:
import pymysql

ModuleNotFoundError: No module named 'pymysql'

In [5]:
pymysql.install_as_MySQLdb()#伪装为MySQLdb模块

In [6]:
import MySQLdb

In [12]:
conn = MySQLdb.Connection(
    host = 'localhost',user = 'root', password = '', port = 3306 ,database = 'samples1', charset='gbk')

In [13]:
cursor = conn.cursor()

In [14]:
sql = 'select * from authors'

In [15]:
cursor.execute(sql)

7

In [16]:
data = cursor.fetchall()

In [17]:
data

(('A01',
  'Sarah',
  'Buchman',
  '718-496-7223',
  '75 West 205 St',
  'Bronx',
  'NY',
  '10468'),
 ('A02',
  'Wendy',
  'Heydemark',
  '303-986-7020',
  '2922 Baseline Rd',
  'Boulder',
  'CO',
  '80303'),
 ('A03',
  'Hallie',
  'Hull',
  '415-549-4278',
  '3800 Waldo Ave, #14F',
  'San Francisco',
  'CA',
  '94123'),
 ('A04',
  'Klee',
  'Hull',
  '415-549-4278',
  '3800 Waldo Ave, #14F',
  'San Francisco',
  'CA',
  '94123'),
 ('A05',
  'Christian',
  'Kells',
  '212-771-4680',
  '114 Horatio St',
  'New York',
  'NY',
  '10014'),
 ('A06',
  '',
  'Kellsey',
  '650-836-7128',
  '390 Serra Mall',
  'Palo Alto',
  'CA',
  '94305'),
 ('A07',
  'Paddy',
  "O'Furniture",
  '941-925-0752',
  '1442 Main St',
  'Sarasota',
  'FL',
  '34236'))

In [19]:
#使用list函数就可以快速的将元组数据转换为列表格式的数据
data = list(data)
data

[('A01',
  'Sarah',
  'Buchman',
  '718-496-7223',
  '75 West 205 St',
  'Bronx',
  'NY',
  '10468'),
 ('A02',
  'Wendy',
  'Heydemark',
  '303-986-7020',
  '2922 Baseline Rd',
  'Boulder',
  'CO',
  '80303'),
 ('A03',
  'Hallie',
  'Hull',
  '415-549-4278',
  '3800 Waldo Ave, #14F',
  'San Francisco',
  'CA',
  '94123'),
 ('A04',
  'Klee',
  'Hull',
  '415-549-4278',
  '3800 Waldo Ave, #14F',
  'San Francisco',
  'CA',
  '94123'),
 ('A05',
  'Christian',
  'Kells',
  '212-771-4680',
  '114 Horatio St',
  'New York',
  'NY',
  '10014'),
 ('A06',
  '',
  'Kellsey',
  '650-836-7128',
  '390 Serra Mall',
  'Palo Alto',
  'CA',
  '94305'),
 ('A07',
  'Paddy',
  "O'Furniture",
  '941-925-0752',
  '1442 Main St',
  'Sarasota',
  'FL',
  '34236')]

In [20]:
import pandas as pd

In [21]:
mydata = pd.DataFrame(data, columns = ['au_id','au_fname','au_lname','phone','address','city','state','zip'])

In [22]:
mydata

,au_id,au_fname,au_lname,phone,address,city,state,zip
0,A01,Sarah,Buchman,718-496-7223,75 West 205 St,Bronx,NY,10468
1,A02,Wendy,Heydemark,303-986-7020,2922 Baseline Rd,Boulder,CO,80303
2,A03,Hallie,Hull,415-549-4278,"3800 Waldo Ave, #14F",San Francisco,CA,94123
3,A04,Klee,Hull,415-549-4278,"3800 Waldo Ave, #14F",San Francisco,CA,94123
4,A05,Christian,Kells,212-771-4680,114 Horatio St,New York,NY,10014
5,A06,,Kellsey,650-836-7128,390 Serra Mall,Palo Alto,CA,94305
6,A07,Paddy,O'Furniture,941-925-0752,1442 Main St,Sarasota,FL,34236

In [23]:
##最后千万千万注意的是，当你的数据读取完之后一定要记得关闭游标和连接，因为不关闭会导致电脑资源的浪费。
cursor.close()

In [ ]:
conn.close()

# 2.Python连接SQL Server

In [3]:
import pymssql