## 左右用R右手Python——字符串合并与拆分

## R 语言

针对向量：
strsplit   #针对字符串向量（拆分）
str_split  #针对字符串向量（拆分）stringr包内函数
paste      #针对向量合并

针对数据框：
unite      #合并数据框中的某几列
separate   #将数据框中某一列按照某种模式拆分成几列

## Python

字符串合并：
字符串链接符：”+”
字符串合并函数：join
字符串拆分：split

使用zip()函数来可以把列表合并，并创建一个元组对的列表

In [38]:
l1 = [2,3,4]
l2 = [5,6,7]
for (x,y) in zip(l1,l2):
    print(x,y,'-----',x*y)

2 5 ----- 10
3 6 ----- 18
4 7 ----- 28

In [4]:
import random 
import pandas as pd

In [7]:
myyear=random.sample(list(range(2000,2017)),10)
myyear

[2004, 2011, 2001, 2002, 2005, 2016, 2006, 2007, 2010, 2009]

In [8]:
# '%02d'格式化输出 两位数
#1变01，2变02等
mymonth=['%02d' % i for i in random.sample(list(range(1,12)),10)]
mymonth

['06', '01', '02', '07', '11', '10', '08', '09', '04', '03']

In [9]:
myday=['%02d' % i for i in random.sample(list(range(1,31)),10)]
myday

['17', '25', '21', '01', '30', '20', '02', '08', '22', '27']

## 字符串合并

In [11]:
#str(i)?
mydate=[str(i)+"-"+j+"-"+k for i,j,k in zip(myyear,mymonth,myday)]
mydate

['2004-06-17',
 '2011-01-25',
 '2001-02-21',
 '2002-07-01',
 '2005-11-30',
 '2016-10-20',
 '2006-08-02',
 '2007-09-08',
 '2010-04-22',
 '2009-03-27']

In [12]:
mydate=["-".join([str(i),j,k]) for i,j,k in zip(myyear,mymonth,myday)]
mydate

['2004-06-17',
 '2011-01-25',
 '2001-02-21',
 '2002-07-01',
 '2005-11-30',
 '2016-10-20',
 '2006-08-02',
 '2007-09-08',
 '2010-04-22',
 '2009-03-27']

## 字符串拆分

列表推导式

In [16]:
myyear1=[i.split("-")[0] for i in mydate]
myyear1

['2004',
 '2011',
 '2001',
 '2002',
 '2005',
 '2016',
 '2006',
 '2007',
 '2010',
 '2009']

In [17]:
mymonth1=[i.split("-")[1] for i in mydate]
mymonth1

['06', '01', '02', '07', '11', '10', '08', '09', '04', '03']

In [18]:
myday1=[i.split("-")[2] for i in mydate]
myday1

['17', '25', '21', '01', '30', '20', '02', '08', '22', '27']

使用字典

In [19]:
mydata=pd.DataFrame({"date":mydate})
mydata

         date
0  2004-06-17
1  2011-01-25
2  2001-02-21
3  2002-07-01
4  2005-11-30
5  2016-10-20
6  2006-08-02
7  2007-09-08
8  2010-04-22
9  2009-03-27

In [25]:
type(mydata.iloc[0])
#mydata.iloc[0]

pandas.core.series.Series

In [26]:
mydata["date"].str.split("-",expand=True)

      0   1   2
0  2004  06  17
1  2011  01  25
2  2001  02  21
3  2002  07  01
4  2005  11  30
5  2016  10  20
6  2006  08  02
7  2007  09  08
8  2010  04  22
9  2009  03  27

In [29]:
myyear2=mydata["date"].str.split("-",expand=True)[0]
print(myyear2)

0    2004
1    2011
2    2001
3    2002
4    2005
5    2016
6    2006
7    2007
8    2010
9    2009
Name: 0, dtype: object