# 处理CSV, Excel格式资料

In [2]:
import os
os.getcwd()

'C:\\Users\\dell\\我\\数据预处理'

In [3]:
os.chdir('C:\\Users\\dell\\我')

In [4]:
with open('Data\Population.csv', 'r', encoding='UTF-8') as f:
    for line in f.readlines():
        print(line)

﻿指标,2015年,2014年,2013年,2012年,2011年,2010年,2009年,2008年,2007年,2006年

年末总人口(万人),137462,136782,136072,135404,134735,134091,133450,132802,132129,131448

男性人口(万人),70414,70079,69728,69395,69068,68748,68647,68357,68048,67728

女性人口(万人),67048,66703,66344,66009,65667,65343,64803,64445,64081,63720

城镇人口(万人),77116,74916,73111,71182,69079,66978,64512,62403,60633,58288

乡村人口(万人),60346,61866,62961,64222,65656,67113,68938,70399,71496,73160

In [5]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\dell\anaconda3\lib\site-packages
Requirement already satisfied: python-dateutil>=2 in c:\users\dell\anaconda3\lib\site-packages (from pandas)
Requirement already satisfied: pytz>=2011k in c:\users\dell\anaconda3\lib\site-packages (from pandas)
Requirement already satisfied: numpy>=1.7.0 in c:\users\dell\anaconda3\lib\site-packages (from pandas)
Requirement already satisfied: six>=1.5 in c:\users\dell\anaconda3\lib\site-packages (from python-dateutil>=2->pandas)

In [6]:
import pandas
df = pandas.read_csv('Data/Population.csv')
df

,指标,2015年,2014年,2013年,2012年,2011年,2010年,2009年,2008年,2007年,2006年
0,年末总人口(万人),137462,136782,136072,135404,134735,134091,133450,132802,132129,131448
1,男性人口(万人),70414,70079,69728,69395,69068,68748,68647,68357,68048,67728
2,女性人口(万人),67048,66703,66344,66009,65667,65343,64803,64445,64081,63720
3,城镇人口(万人),77116,74916,73111,71182,69079,66978,64512,62403,60633,58288
4,乡村人口(万人),60346,61866,62961,64222,65656,67113,68938,70399,71496,73160

In [7]:
type(df)

pandas.core.frame.DataFrame

In [8]:
import pandas
df = pandas.read_excel('Data/GDP.xls')
df

,指标,2015年,2014年,2013年,2012年,2011年,2010年,2009年,2008年,2007年,2006年
0,国民总收入(亿元),686181.5,644791.1,590422.4,539116.5,484753.2,411265.2,348498.5,321500.5,270844.0,219028.5
1,国内生产总值(亿元),689052.1,643974.0,595244.4,540367.4,489300.6,413030.3,349081.4,319515.5,270232.3,219438.5
2,第一产业增加值(亿元),60862.1,58343.5,55329.1,50902.3,46163.1,39362.6,34161.8,32753.2,27788.0,23317.0
3,第二产业增加值(亿元),282040.3,277571.8,261956.1,244643.3,227038.8,191629.8,160171.7,149956.6,126633.6,104361.8
4,第三产业增加值(亿元),346149.7,308058.6,277959.3,244821.9,216098.6,182038.0,154747.9,136805.8,115810.7,91759.7
5,人均国内生产总值(元),50251.0,47203.0,43852.0,40007.0,36403.0,30876.0,26222.0,24121.0,20505.0,16738.0

In [9]:
type(df)

pandas.core.frame.DataFrame